{% extends 'core/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1>
<p>Welcome to the Retail Assist Dashboard!</p>
<p>You have visited this page {{ visits }} times.</p>
<a href = "{% url 'core:sales' %}">View Sales</a>
<a href="{% url 'core:add_customer' %}">Add Customer</a>
<a href="{% url 'core:add_product' %}">Add Product</a>
<a href="{% url 'core:add_sale' %}">Add Sale</a>
<a href="{% url 'core:product_list' %}">View Products</a>
<a href="{% url 'core:customer_list' %}">View Customers</a>
<a href="{% url 'core:create_transaction' %}">Create Transaction</a>
<a href="{% url 'core:transaction_list' %}">View Transactions</a>
<a href="{% url 'core:update_stock' %}">Update Stock</a>
{% endblock %}