{% extends 'core/base.html' %}
{% block title %}Suppliers List{% endblock %}
{% block header %}Suppliers List{% endblock %}
{% block content %}
<h1>Suppliers List</h1>
<ul>
    {% for supplier in suppliers %}
        <li>
            <div class="supplier-details">
                <p><strong>Supplier Name:</strong> {{ supplier.name }}</p>
                <p><strong>Address:</strong> {{ supplier.address }}</p>
                <p><strong>Phone Number:</strong> {{ supplier.phone }}</p>
                <p><strong>Email:</strong> {{ supplier.email }}</p>
                <p><strong>Contact Person:</strong> {{ supplier.contact_person }}</p>
                <p><strong>Supplier ID:</strong> {{ supplier.id }}</p>
            </div>
            <hr>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'core:add' model_name='supplier' %}">Add Supplier</a>
<a href="{% url 'core:dashboard' %}">Back to Dashboard</a>
{% endblock %}