{% extends 'pos/base.html' %}
{% load static %}
{% block title %}Customer Analytics{% endblock %}
{% block header %}Customer Analytics{% endblock %}
{% block content %}
<h1>Customer Analytics</h1>

<!-- Search Bar -->
<input type="text" id="searchBar" placeholder="Search customer analytics..." onkeyup="filterItems()">

<!-- Sort Options -->
<select id="sortOptions" onchange="sortItems()">
    <option value="report_date">Sort by Report Date</option>
    <option value="total_spent">Sort by Total Spent</option>
</select>

<ul id="itemList">
    {% for analytics in customer_analytics %}
        <li class="list-item">
            <div class="item-details">
                <p><strong>Customer:</strong> {{ analytics.customer.name }}</p>
                <p><strong>Total Spent:</strong> {{ analytics.total_spent }}</p>
                <p><strong>Report Date:</strong> {{ analytics.report_date }}</p>
                <p><strong>Total Loyalty Points Earned:</strong> {{ analytics.total_loyalty_points_earned }}</p>
                <p><strong>Total Loyalty Points Redeemed:</strong> {{ analytics.total_loyalty_points_redeemed }}</p>
            </div>
            <button class="toggle-button">Toggle Details</button>
            <a href="{% url 'pos:edit' model_name='customer_analytics' pk=analytics.id %}">Edit Customer Analytic</a>
            <hr>
        </li>
    {% empty %}
        <li>Customer analytics list empty</li>
    {% endfor %}
</ul>

<a href="{% url 'pos:add' model_name='customer_analytics' %}" class="btn btn-primary">Add Customer Analytics</a>
<a href="{% url 'pos:dashboard' %}">Back to Dashboard</a>
{% endblock %}
{% block footer %}
<script src="{% static 'js/dynamicList.js' %}"></script>
{% endblock %}