{% extends 'pos/base.html' %}
{% load static %}  <!-- Add this line to load the static template tag -->
{% block title %}Sales{% endblock %}
{% block header %}Sales{% endblock %}
{% block content %}
<h1>Sale List</h1>

<!-- Search Bar -->
<input type="text" id="searchBar" placeholder="Search sales..." onkeyup="filterItems()">

<!-- Sort Options -->
<select id="sortOptions" onchange="sortItems()">
    <option value="date">Sort by Date</option>
    <option value="customer">Sort by Customer</option>
</select>

<ul id="itemList">
    {% for sale in sales %}
        <li class="list-item">
            <div class="item-details">
                <p><strong>Date:</strong> {{ sale.sale_date }}</p>
                <p><strong>Customer:</strong> {{ sale.customer.name }}</p>
                <p><strong>Product:</strong> {{ sale.product.name }}</p>
                <p><strong>Quantity:</strong> {{ sale.quantity }}</p>
            </div>
            <button class="toggle-button">Toggle Details</button>
            <a href="{% url 'pos:edit' model_name='sale' pk=sale.id %}">Edit Sale</a>
            <hr>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'pos:add' model_name='sale' %}"class="btn btn-primary">Add Sale</a>
<a href="{% url 'pos:dashboard' %}">Back to Dashboard</a>
<script src="{% static 'js/dynamicList.js' %}"></script>
{% endblock %}